@{
    bool isAdmin = User.IsInRole("Admin");
}

<div id="app">
    <home-component :is-admin="@isAdmin.ToString().ToLower()" 
                     items-url="@Url.Action("GetLastTenItems", "Home")"
                     edit-url="@Url.Action("Edit", "Items")" 
                     create-url="@Url.Action("Create", "Items")" 
                     delete-url="@Url.Action("Delete", "Items")"
                     add-to-cart-url="@Url.Action("AddToCart", "ShoppingCart")"
                     items-page-url="@Url.Action("Index", "Items")"></home-component>
</div>

@section scripts{
    <script src="~/js/home.js" asp-append-version="true"></script>
}