@{
    bool isAdmin = User.IsInRole("Admin");
}

<div id="app">
    <index-component :is-admin="@isAdmin.ToString().ToLower()"
                     orders-data-url="@Url.Action("GetOrders", "Orders")"
                     order-details-url="@Url.Action("GetOrderDetails", "Orders")"
                     delete-url="@Url.Action("DeleteOrder", "Orders")"
                     set-status-url="@Url.Action("SetOrderStatus", "Orders")"></index-component>
</div>

@section scripts{ 
    <script src="~/js/orders.js" asp-append-version="true"></script>
}