@{
}

<div id="app">
    <index-component catalog-url="@Url.Action("Index", "Items")"
                     cart-url="@Url.Action("GetCart", "ShoppingCart")"
                     remove-url="@Url.Action("RemoveFromCart", "ShoppingCart")"
                     order-url="@Url.Action("ConfirmOrder", "ShoppingCart")"
                     clear-url="@Url.Action("ClearAll", "ShoppingCart")"
                     index-url="@Url.Action("Index", "Home")"></index-component>
</div>

@section scripts{
    <script src="~/js/cart.js" asp-append-version="true"></script>
}