@{ 
    ViewData["Title"] = "Customers";
    var isAdmin = User.IsInRole("Admin");
}

<div id="app">
    <index-component :is-admin="@isAdmin.ToString().ToLower()" customers-url="@Url.Action("CustomersData", "Customers")"
                    edit-url="@Url.Action("Edit", "Customers")" create-url="@Url.Action("Create", "Customers")" delete-url="@Url.Action("Delete", "Customers")"></index-component>
</div>

@section sscripts{ 
    <script src="~/js/customers.js" asp-append-version="true"></script>
}