<header id="header">
    <div class="container">
        <div class="">
                <!--  -->
        </div>

        <div class="navigation__block">
            <ul class="nav">
                <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                <li><a href="@Url.Action("Index", "Items")">Каталог товаров</a></li>
                <li><a href="@Url.Action("Index", "ShoppingCart")">Корзина</a></li>
                <li><a href="@Url.Action("Index", "Orders")">Мои заказы</a></li>
            </ul> 
        </div>
        <div class="user__actions">
            @if(User.Identity.IsAuthenticated)
            {
                <div class="user__info">  
                    <p>@User.Identity.Name</p>

                    @if(User.IsInRole("Admin"))
                    {
                        <p>Администратор</p>
                    }
                    else
                    {
                         <p>Пользователь</p>
                    } 
                </div>
                <a href="@Url.Action("Logout", "Account")" class="btn white">Выход</a>
            }
            else
            {
                <div class="reg__auth">
                    <a href="@Url.Action("Login", "Account")" class="btn white">Войти</a>
                    <a href="@Url.Action("Registration", "Account")" class="btn red  last-header-btn">Регистрация</a>
                </div>
            }   
        </div>
    </div>
</header>