<header id="header">
    <div class="">

    </div>

    <div class="navigation">

    </div>

    <div class="user-info">
        @if(User.Identity.IsAuthenticated)
        {
            <span>@User.Identity.Name</span>
            <a href="@Url.Action("Logout", "Account")">Выход</a>
            <a href="@Url.Action("Index", "ShoppingCart")">Корзина</a>
            <a href="@Url.Action("Index", "Orders")">Мои заказы</a>
        }
        else
        {
            <a href="@Url.Action("Login", "Account")">Войти</a>
        }
    </div>

    
</header>