<header id="header">
    <div class="content">
        <div class="">

        </div>

        <div class="navigation">
            <ul>
                <li><a href="@Url.Action("Index", "Items")">Каталог товаров</a></li>
                <li><a href="@Url.Action("Index", "ShoppingCart")">Корзина</a></li>
                <li><a href="@Url.Action("Index", "Orders")">Мои заказы</a></li>
            </ul> 
        </div>

        <div class="user-info">
            @if(User.Identity.IsAuthenticated)
            {
                <p>@User.Identity.Name</p>
                @if(User.IsInRole("Admin"))
                {
                    <p>Администратор</p>
                }
                esle
                {
                    <p>Пользователь</p>
                } 
            }
            else
            {
                <a href="@Url.Action("Login", "Account")">Войти</a>
            }
        </div>  
    </div> 
</header>